h1=title

h2 Create Key

form(name='key-form', id='key-form')
    div.key-form
        div.field Choose API
            select(name='api')
               - for (var api in apiInfo)
                   option(value=api) #{apiInfo[api].name}
        div.field Application name
            input(name='appName')
        div.field Email
            input(name='email')
        div.field App description
            textarea(name='description',rows=3)
        input(type='submit', value='Submit')
