h1=title

h2 Manage API Keys

a(href = '/createKey') Create Key
br
a(href = '/manageKeys') Manage Keys
br
br

h2 Choose an API

ul
   - for (var api in apiInfo)
       li: a(href = '/' + api) #{apiInfo[api].name}
