h1=title

h2 Manage Keys

a(href = '/createKey') Get an API Key
br
a(href = '/listKeys') View All Keys
br
br

h2 Choose an API

ul
   - for (var api in apiInfo)
       li: a(href = '/' + api) #{apiInfo[api].name}
